ion-content ion-toolbar {
  --background: translucent;
}

.up{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  background-color: #5a2c8f;
}

.row1{
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid #5a2c8f;
  position: sticky;
  // background-color: #5a2c8f;
  // color: white;
}

.search{
  width: 80%;
}

.qrcode{
  width: 10vw;
  height: 10vw;
}

.qr{
  width: 10vw;
  height: 10vw;
}

.down{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  display: flex;
  // justify-content: space-around;
}

.display{
  border: 1.5px solid #5a2c8f;
  padding: 10px;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}