.top {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0px;
  justify-content: space-between;
  background-color: #5a2c8f;
  border-bottom: 1px solid #5a2c8f;
  color: white;
  width: 1000px;
}

.iconBack {
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.close {
  width: 5vw;
  height: 5vw;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  font-size: 20px;
}

.SnS {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  background-color: transparent;
}

.select {
  border: 1px solid black;
  color: #1a1a1a;
  font-size: 15px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
  height: 30px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: white;
  justify-content: space-between;
}

.TS {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #1a1a1a;
  width: 120px;
  height: 20px;
  padding: 0px;
  padding-right: 6px;
  padding-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0px;
  margin-right: 10px;
}

.searchBox {
  color: #1a1a1a;
  font-size: 15px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 40px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: white;
}

.addButton {
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.textbox {
  margin-top: 0px;
}

.searchIcon {
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  margin-right: 20px;
}

.iconS {
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  margin-right: 20px;
}

.down {
  display: flex;
  width: 1000px;
  margin-top: 10px;
}

.Dleft {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-right: 2px solid #5a2c8f;
  width: 20%;
  padding-bottom: 10px;
  background-color: white;
  align-items: center;
  text-align: center;
}

.branch {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 0px;
}

.b {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //border-bottom: 2px solid #6818d6;
  width: 100%;
  height: 50px;
}

.selectedX {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: #575757;
  border: 2px solid #5a2c8f;
}

.selected {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #ae88da;
  color: white;
  border: 2px solid #5a2c8f;
}

.Dright {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding: 10px;
  padding-top: 5px;
  width: 80%;
  background-color: white;
}

.S1 {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  margin-right: 20px;
  color: black;
  margin-bottom: 0px;
  border: 4px solid #5a2c8f;
  width: cal(80% / 3);
  height: 200px;
  border-radius: 10%;
}

.SD {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1a1a1a;
  text-align: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: flex-start;
}

.S1name {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 5px;
}

.color1 {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  border-radius: 100%;
  margin: 5px;
  width: 15px;
  height: 15px;
  border: 3px solid gray;
  background-color: #18d668;
  margin-right: 10px;
}

.color2 {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  border-radius: 100%;
  margin: 5px;
  width: 15px;
  height: 15px;
  border: 3px solid gray;
  background-color: red;
  margin-right: 10px;
}

.color3 {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  border-radius: 100%;
  margin: 5px;
  width: 15px;
  height: 15px;
  border: 3px solid gray;
  background-color: yellow;
  margin-right: 10px;
}

.Detail {
  margin: 10px;
}

.D2{
  padding: 5px;
}